{
  "title": "Cooking with Node",
  "windowSize": { "x":350, "y":300 },
  "serverPort": 3000,
  "mqtt": { "serverUrl": "mqtt:10.1.1.186:1883",
            "mqttTopic": "house/meat/temp"
           },
  "cleanupInterval": 180,
  "scaleC": false, 
  "targetTemps": [
                   { "name": "beef", "temps": [ { "well": 76 },
                             { "medium well": 73 },
                             { "medium": 71 },
                             { "medium rare+": 64.0 },  
                             { "medium rare": 62 },  
                             { "rare": 60 } ] },
                   { "name": "lamb", "temps": [ { "well": 76 },
                             { "medium well": 73 },
                             { "medium": 71 },
                             { "medium rare": 62 } ] },
                   { "name": "veal", "temps": [ { "well": 76 },
                             { "medium well": 71 } ,
                             { "medium": 62 },
                             { "medium rare": 60 } ] },
                   { "name": "hamburber", "temps": [ { "well": 76 } ] },
                   { "name": "pork", "temps": [ { "well": 79 },
                             { "medium well": 73 },
                             { "medium": 71 } ] },
                   { "name": "turkey", "temps": [ { "well": 79 } ] },
                   { "name": "chicken", "temps": [ { "well": 79 } ] },
                   { "name": "fish", "temps": [ { "well": 58 } ] }
                 ],
  "notify": {
    "mqttSmsBridge": { "enabled": true,
                       "serverUrl": "mqtt:10.1.1.186:1883",
                       "topic": "house/sms" }
  }
}
